
.Rproj.user/35BD86E3/sources/prop/9F998133
.Rproj.user/35BD86E3/sources/prop/9F998133
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95-contents
.Rproj.user/shared/notebooks/D9760051-chi-square-test-of-goodness-of-fit/1/35BD86E391E69EAB/chunks.json
.Rproj.user/shared/notebooks/D9760051-chi-square-test-of-goodness-of-fit/1/s/chunks.json
*.html
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95-contents
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95-contents
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95
.Rproj.user/35BD86E3/sources/prop/9F998133
.Rproj.user/35BD86E3/sources/prop/9F998133
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95
.Rproj.user/35BD86E3/sources/s-91E69EAB/7AAA2C95-contents
